@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .focus-bg {
    background-color: #FFFFFF;
    border-color: #C9CCD0;
  }
}

@layer base {
  :root {
    --plyr-color-main: #ff9000;
  }
}
